################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/source/Framework.Core/bin
/source/Framework.Core/obj
/source/Framework.Model/bin
/source/Framework.Model/obj
/source/Framework.Model.Mapper/bin
/source/Framework.Model.Mapper/obj
/source/Framework.Repository/bin
/source/Framework.Repository/obj
/source/Framework.Repository.Extensions/bin
/source/Framework.Repository.Extensions/obj
/source/Framework.Security/bin
/source/Framework.Security/obj
/source/Framework.Web/bin
/source/Framework.Web/obj
/source/Framework.Web.Mail/bin
/source/Framework.Web.Mail/obj
/source/Framework.Web.Mvc/bin
/source/Framework.Web.Mvc/obj
/source/Framework.Web.Security/bin
/source/Framework.Web.Security/obj
/tests/Framework.Model.Tests/bin
/tests/Framework.Model.Tests/obj
/tests/Framework.Repository.Tests/bin
/tests/Framework.Repository.Tests/obj
/tests/Framework.Security.Tests/bin
/tests/Framework.Security.Tests/obj
